    /*Fuente de encabezado*/
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    /*Fuente de texto normal*/
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans&display=swap');

body{
    font-family: var(--paragraph-font);
    /* max-width: 960px; */
    padding: 20px;
    line-height: 1.6;
}
:root{
    --primary-color: #14213D;
    --secondary-color: #FCA311;
    --accent1-color: #E5E5E5;
    --accent2-color: #FFFFFF;

    --heading-font:"Abril Fatface", serif;
    --paragraph-font:"Alegreya Sans", serif;

    --nav-background-color: #000000;
    --nav-link-color: #588157 ;
    --nav-hover-link-color:#344E41 ;
    --nav-hover-background-color: #ccd5ae;

}
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
    }
header{
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px;
}
p{
    padding: 25px;
}
nav{
    /* background-color: var(--nav-background-color); */
    max-width: 900px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin-top: 30px;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
}
.hero {
    position: relative;
    width: 95%;
    height: auto;
}
.hero img {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 30px;
}
.hero h1 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center; 
}
.hero article {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #FFFFFF; 
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.hero article p {
    color: #FFFFFF;
    font-size: 1rem;
    top: 50%;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.hero article img {
    max-width: 40%; 
    height: auto;
    margin-right: 50px;
}
.logo {
    width: 120px;
}
.img-history {
    width: 230px;
    padding: 50px;
    margin-top: 20px;
}
.history-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
}
.history-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: justify;
}
.h2-history {
    position: absolute;
    left: 570px;
    font-size: 2rem;
    text-align: center;
    margin-top: 0px;
    
}
.container-adventure{
    border-radius: 5px;
    text-align: center;
}
.container-adventure p {
    margin: 40px;
}
hr {
    margin:  60px;
}
.h2-adventure {
    position: relative;
    left: 530px;
    max-width: 400px;
}
.adventure {
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
    position: relative;
}
.adventure img {
    width: 240px;
    height: 200px;
    margin: 20px;
}
.nav-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 200px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 80px;
}
.nav-social-media img {
    width: 30px; 
    height: auto; 
    object-fit: cover; 
    position: absolute;
}
.conteiner-social-media {
    display: flex;
    padding-right: 60px;
}
footer p{
    display: flex;
    justify-content: center;
    padding-left: 480px;
    max-width: 600px;
}  
.nav-social-media img {
    margin-top: -40px;
    padding: 5px;
}
/* Contact US Quiz */
.container-form{
    border: 2px solid rgb(3, 3, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dbb9b9;
    width: 450px;
    border-radius: 5px; 
}
.label1 {
    display: block;
}
#name, #email, #message {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.h1-contact {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.parrafo{
    display: flex;
    justify-content: center;
    width: 760px;
    padding-left: 300px;
    text-align: center;
}
.submit {
    padding: 10px 20px; 
    background-color: rgb(3, 3, 248); 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    text-decoration: none;
}
.button-submit {
    padding: 30px;
    padding-left: 70px;
}
.submit:hover {
    background-color: rgb(49, 49, 87);
}
.principal-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
}
.contact-info {
    border: 2px solid rgb(3, 3, 248);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dbb9b9;
    width: 650px;
    padding: 20px;
    border-radius: 5px;
}
.h2-contact {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
section address {
    padding: 10px;
}
/* Adventure section */
.h1-adventure{
    display: flex;
    justify-content: center;
}
.tooltip img {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    height: 170px;
}
.tooltip{
    display: flex;
}
.tooltip-span{
    padding-top: 27px;
}
    /* Trips */
.tooltip-trips{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.tooltip-trips img{
    padding: 30px;
    display: flex;
    height: 170px;
    padding-left: 90px;
}
.tooltip-trips > * {
    order: 1; 
}
.trip-summary-table {
    display: inline-table;
    padding-left: 70px;
}
table {
    border-collapse: collapse;
    border: 10px solid rgb( 140 140 140);
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 5px;

}
caption {
    caption-side: bottom;
    padding: 14px;
    font-weight: bold;
}
thead, tfoot {
    background-color: rgb(228, 240  , 245);
}
th, td {
    border: 1px solid rgb(160, 160, 160);
    text-align: center;
}
tbody > tr:nth-of-type(even){
    background-color: rgb(237, 238, 242);
}
tfoot, th{
    text-align: right;
}
.summary-trip-h1 {
    padding: 40px;
}
.wireframe {
    display: flex;
    justify-content: flex-start;
}
/* Index */
.index-sectio1 {
    background-image: url("../images/happy-client.png");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 66vh;
    background-color: rgb(0, 0, 0, 0.8);
}
.header-index h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.index-p {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}
.section-explore {
    padding: 30px;
}
.trip-1,.trip-2,.trip-3 {
    border: 1px solid var(--accent1-color);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
.tooltip-span ul {
    padding: 0;
    list-style-type: none; 
}
.tooltip-span ul li::before {
    content: '• '; 
    color: var(--primary-color);
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.tooltip-span h3 {
    margin-top: 0; 
    color: var(--primary-color);
}
