/*Fuente de encabezado*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*Fuente de texto normal*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans&display=swap');

body{
    font-family: var(--paragraph-font);
    /* max-width: 960px; */
    padding: 20px;
}
:root{
    --primary-color: #14213D;
    --secondary-color: #FCA311;
    --accent1-color: #E5E5E5;
    --accent2-color: #FFFFFF;

    --heading-font:"Abril Fatface", serif;
    --paragraph-font:"Alegreya Sans", serif;

    --nav-background-color: #000000;
    --nav-link-color: #588157 ;
    --nav-hover-link-color:#344E41 ;
    --nav-hover-background-color: #ccd5ae;

}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px;
}
p{
    padding: 25px;
}
nav{
    /* background-color: var(--nav-background-color); */
    max-width: 900px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin-top: 30px;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
}
.hero {
    border: green solid;
    position: relative;
    width: 95%;
    height: auto;
}
.hero img {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 30px;
}
.hero h1 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center; 
}
.hero article {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #FFFFFF; 
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.hero article p {
    color: #FFFFFF;
    font-size: 1rem;
    top: 50%;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.hero article img {
    max-width: 40%; 
    height: auto;
    margin-right: 50px;
}
.logo {
    border: rebeccapurple solid;
    width: 120px;
}
.img-history {
    width: 230px;
    padding: 50px;

}
.history-container {
    border: blue solid;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.history-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.h2-history {
    position: absolute;
    left: 626px;
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}
.h2-adventure {
    position: relative;
    left: 530px;
}
.adventure {
    border: yellow solid;
    display: flex;
    justify-content: space-between;
}
.adventure img {
    width: 240px;
    height: 200px;
    margin: 20px;
}

